@import "./header";

/*header style*/

@import "./navbar";

/*navbar style*/

@import "./main-content";

/* main content style*/

@import "./options";

/*options style*/

@import "./footer";

/*footer style */


/* additional style start*/

body {
    font-family: sans-serif;
    h1 {
        margin: 0;
        padding: 0;
        padding-left: 2em;
        padding-top: 2em;
        color: white;
        font-size: 4vw;
    }
    input {
        width: 15vw;
    }
    select {
        width: 15vw;
    }
    #car {
        display: none;
    }
}


/*style for result of the calulation start*/

#result {
    text-align: center;
    color: green;
    font-family: sans-serif;
    font-size: 1.5em;
    text-shadow: 15px 6px 3px rgba(4, 164, 9, 0.69);
}


/*style for result ends*/


/*additional style ends*/

@media screen and (max-width: 480px) {
    body {
        display: flex;
        flex-flow: column;
        #header .banner {
            display: none;
        }
        .container3 {
            display: none;
        }
        #car {
            display: block;
            width: 20vw;
            height: 30vw;
            object-fit: contain;
        }
        .container1 {
            height: 100%;
        }
    }
}